

body {
  margin: 0;
  color: #e8faff;
  color: var(--muted);
  background: linear-gradient(180deg, var(--bg-0) 0%, var(--bg-1) 100%);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: background 0.5s ease;
  position: relative;
  font-family: IBM Plex Mono;
}

h2 {
  font-family: Orbitron, Inter, sans-serif;
  margin: 0 0;
}

p {
  margin: 16px 0;
}

h3 {
  margin: 0 !important;
}

.page a {
  text-decoration: none;
}

.page {
  min-height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
}


.card {
  background: var(--card-bg);
  padding: 18px;
  border-radius: var(--radius);
  transition: transform .28s ease, box-shadow .28s ease;
  cursor: default;
  margin: 28px 0;
}

.card-body p {
  color: var(--muted)
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 999px;
  font-weight: 700;
  background-color: var(--accent);
  color: var(--bg-0);
  box-shadow: 0 8px 30px rgba(6, 18, 30, 0.45);
  border: var(--accent) 2px solid;
}

.btn-primary:hover {
  background-color: var(--bg-0);
  color: var(--accent);
  transition: 400ms;
  border: var(--accent) 2px solid;
}


.project-card:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}
