.part-gauche {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.part-droite {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 100vh;
  background-color: #c7c7c7;
}

#coordonner {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.5rem;
  font-weight: 500;
  color: #333;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.block {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.2rem;
  border: 2px solid #6c757d;
  border-radius: 0.75rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.block:hover {
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
}
.bg-danger.text-white {
  background-color: #dc3545 !important;
  color: white !important;
}

h1 {
    font-size: 25px;
    margin-bottom: 100px;
}

#alert {
  position: relative;
  z-index: 1050;
}